<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Depreciación de activos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <style>
    header,
    footer {
      background-color: #559ba1;
    }

    table {
      width: 80%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px;
    }

    table thead tr {
      background: rgb(105, 102, 102);
    }

    table tr:nth-child(2n-1) td {
      background: rgb(227, 220, 230);
    }

    table th,
    table td {
      text-align: center;
    }

    table th {
      padding: 5px 20px;
      border-bottom: 1px solid #c1ced9;
      white-space: nowrap;
      font-weight: normal;
      font-size: 10px;
    }

    table td {
      font-size: 14px;
      padding: 5px;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 16px;
    }

    .firmas {
      margin-block: 100px;
    }

    .linea {
      border-top: 1px dotted #8f8f8f;
    }

    .fecha-center {
      color: black;
    }
  </style>
</head>

<body>
  <header class="row p-3 text-white m-3">
    <div class="col">
      <p class="lh-sm">
        <span class="d-block">Zona Los Andes - Calle Balboa</span>
        <span class="d-block">El Alto - Bolivia</span>
      </p>
      <p>Fecha: El Alto <span id="fecha"></span></p>
    </div>
    <div id="logo" class="col text-center">
      <img src="http://localhost:3000/logo.jpg" width="100" height="100" alt="logo" />
    </div>
    <div class="col text-right">
      <h5>Asociación Centro Virgen Niña - EPDB</h5>
      <p class="lh-sm">
        <span class="d-block">Teléfono: (591-2) 2841126</span>
        <span class="d-block">Email: virgenninaepdb@gmail.com</span>
      </p>
    </div>
  </header>
  <h1 class="text-center">CUADRO DE DEPRECIACIÓN DE ACTIVOS FIJOS</h1>
  <p class="text-center fecha-center">Al <span id="fecha1"></span></p>
  <section class="m-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Fecha Ingreso</th>
          <th>Valor inicial</th>
          <th>Valor acumulado</th>
          <th>Factor de act</th>
          <th>Valor act</th>
          <th>Inc por act</th>
          <th>Dep acu ant</th>
          <th>Inc dep acu</th>
          <th>Dep del periodo</th>
          <th>Dep acu act</th>
          <th>Valor neto</th>
        </tr>
      </thead>
      <tbody>
        {{#each data as | activo |}}
        <tr>
          <td>{{activo.codigo_activo}}</td>
          <td>{{activo.descripcion_activo}}</td>
          <td>{{activo.fecha_ingreso}}</td>
          <td>{{activo.costo}}</td>
          <td>{{activo.B}}</td>
          <td>{{activo.C}}</td>
          <td>{{activo.D}}</td>
          <td>{{activo.E}}</td>
          <td>{{activo.F}}</td>
          <td>{{activo.G}}</td>
          <td>{{activo.H}}</td>
          <td>{{activo.I}}</td>
          <td>{{activo.J}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  <section class="firmas">
    <div class="row justify-content-md-center text-center">
      <div class="col-4 ml-4">
        <p class="lh-sm linea">
          <span class="d-block">Stefania Cordero Maydana</span>
          <span class="d-block">Responsable de activos fijos</span>
        </p>
      </div>
    </div>
  </section>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    let today = new Date();
    let month = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
    document.getElementById("fecha").innerHTML += `${today.getDate()} de ${month[today.getMonth()]} de ${today.getFullYear()}`;
    document.getElementById("fecha1").innerHTML += `${today.getDate()} de ${month[today.getMonth()]} de ${today.getFullYear()}`;
  </script>
</body>

</html>